.App {
  text-align: center;
  font-family: "Coda", cursive;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background: #3b5f68;
  color: #fff;
}

.wholeBody {
  width: 500px;
}

.container {
  border: 3px solid #fff;
  border-radius: 10px;
  box-shadow: #fff;
  margin: auto;
  padding: 20px;
  box-shadow: 10px 5px 5px #21353a;
  margin-top: 30px;
  margin-bottom: 30px;
}

.headerPiece {
  margin: 0px;
}

.credits,
.iconCredits {
  text-align: center;
  font-size: 12px;
  font-family: "Coda", cursive;
}

.lastUpdate {
  text-align: right;
  font-size: 12px;
  margin-top: 15px;
}
