.currentImgColumn {
  width: 100px;
}
.currentWeatherImg {
  width: 80px;
  margin: 5px 0 0 0;
}

.currentWeatherCaption {
  text-align: left;
  width: 120px;
  font-size: 14px;
}

.currentTemperatureDegrees {
  text-align: center;
  width: 70px;
}

.currentTemperature {
  font-size: 32px;
}

#temperatureButton {
  width: 35px;
}

.btn-celsius,
.btn-fahrenheit {
  margin: 0px;
}

.MaxTempImg,
.MinTempImg,
.humidityImg,
.windImg {
  width: 30px;
  margin-right: 5px;
}

.maxAndMinTemp {
  margin-top: 20px;
  font-size: 16px;
  width: 85px;
}

.humidityAndWind {
  margin-top: 20px;
  font-size: 16px;
  width: 120px;
}
