.forecastWeather {
  text-align: center;
  margin: 0px;
}

.forecastImg canvas {
  width: 30px;
  height: 30px;
}

.forecastMaxTemp,
.forecastMinTemp {
  text-align: center;
}

.maxLogo,
.minLogo {
  width: 15px;
}
